<seeker-header></seeker-header>
<toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
<div class="container">
    <div class="row"> <!-- search bar-->
        <span class="col-md-12">
            <div class="input-group">
                <div ng-click="search()" class="input-group-addon"><i class="fa fa-search"></i></div>
                <input ng-model="data.keyWord" type="text" class="form-control" placeholder="Search Jobs" >
            </div>
        </span>
    </div>
</div>

<div class="container" style="margin-top: 50px">
    <div ng-repeat="job in data.jobList" class="row"> <!-- search bar-->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Job Title</label>
                        <input ng-model="job.title" class="form-control" ng-disabled="true"/>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <input class="form-control" ng-model="job.type" ng-disabled="true"/>
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input class="form-control" ng-model="job.company" ng-disabled="true"/>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea ng-model="job.description" class="form-control" ng-disabled="true"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Your Cover Letter:</label>
                        <textarea ng-model="data.cv" class="form-control"
                                  placeholder="Enter Your CV"></textarea>
                    </div>

                    <div class="pull-right">
                        <button ng-click="applyJob($index)" class="btn btn-default btn-success">Apply This Job</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>