<seeker-header></seeker-header>
<div class="container" style="margin-top: 50px">
    <div class="row"> <!-- search bar-->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Vote</label>
                        <input ng-model="job.title" class="form-control" ng-disabled="true"/>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <input class="form-control" ng-model="job.type" ng-disabled="true"/>
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input class="form-control" ng-model="job.type" ng-disabled="true"/>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea ng-model="" class="form-control"
                                  placeholder="Enter Page Body" ng-disabled=""></textarea>
                    </div>

                    <div class="form-group">
                        <label>Your Cover Letter:</label>
                        <textarea ng-model="" class="form-control"
                                  placeholder="Enter Your CV" ng-disabled=""></textarea>
                    </div>

                    <div class="pull-right">
                        <button ng-click="" class="btn btn-default btn-success">Apply Job</button>
                        <button ng-click="" class="btn btn-default btn-danger">Cancel Apply</button>
                        <button ng-click="" class="btn btn-default btn-warning">Confirm Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>