<admin-header></admin-header>
<toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">Creating Interview Polls</h3>
                </div>
            </div>
            <!--opening jobs-->
            <div ng-repeat="invite in data.jobInviteList" class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Poll Title</label>
                                <p class="form-control">{{invite.jobTitle}}</p>
                            </div>

                            <!-- list of candidates -->
                            <label>Successful Candidates:</label>
                            <ul class="list-group">
                                <li ng-repeat="person in invite.applicants" class="list-group-item">
                                    {{person}}
                                </li>
                            </ul>

                            <!-- list of options-->
                            <label>Options:</label>
                            <ul class="list-group">
                                <li ng-repeat="op in invite.voteOptions" class="list-group-item">
                                    <input type="text" ng-model="op.value" class="form-control"
                                           placeholder="Please add voting options e,g. 07/05/2017, 2032 Kingsford">
                                </li>
                            </ul>

                            <div ng-if="invite.pollUrl" class="form-group">
                                <label>Poll Url:</label>
                                <p class="form-control">Please not the following link {{invite.pollUrl}}</p>
                            </div>


                            <div class="pull-right">
                                <button ng-if="!(invite.pollUrl)" ng-click="addOption($index)" class="btn btn-default btn-warning">Add Option
                                </button>
                                <button ng-if="!(invite.pollUrl)" ng-click="sendInvitation($index)" class="btn btn-default btn-warning">Confirm
                                    And Notify Candidates
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--opening end-->
                </div>
            </div>

        </div>
    </div>
</div>