<admin-header></admin-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">Creating Interview Poll</h3>
                </div>
            </div>
            <!--opening jobs-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Poll Title</label>
                                <p class="form-control">{{data.interviewToVote.jobTitle}}</p>
                            </div>

                            <!-- list of candidates -->
                            <label>Successful Candidates:</label>
                            <ul class="list-group">
                                <li ng-repeat="person in data.interviewToVote.applicants" class="list-group-item">
                                    {{person}}
                                </li>
                            </ul>

                            <!-- list of options-->
                            <label>Options:</label>
                            <ul class="list-group">
                                <li ng-repeat="op in data.voteOptions" class="list-group-item">
                                    <input type="text" ng-model="op.value" class="form-control"
                                           placeholder="Please add voting options e,g. 07/05/2017, 2032 Kingsford">
                                </li>
                            </ul>

                            <div class="pull-right">
                                <button ng-click="addOption()" class="btn btn-default btn-warning">Add Option</button>
                                <button ng-click="sendInvitation()" class="btn btn-default btn-warning">Confirm And Notify Candidates</button>
                            </div>
                        </div>
                    </div>
                    <!--opening end-->
                </div>
            </div>

        </div>
    </div>
</div>