<admin-header logout="logout()"></admin-header>
<toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form ng-submit="submit()">
                        <div class="form-group">
                            <label>Job Title</label>
                            <input ng-model = "data.form.title" type="text" class="form-control" placeholder="Enter Page Title">
                        </div>

                        <div class="form-group">
                            <label>Company Name</label>
                            <input ng-model = "data.form.company" type="text" class="form-control" placeholder="Enter Page Title">
                        </div>

                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control"
                                    ng-model="data.form.type"
                                    ng-options="option for option in data.jobTypes">
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea ng-model="data.form.description" class="form-control" placeholder="Enter Page Body"></textarea>
                        </div>

                        <div class="form-group">
                            <label>First Reviewer</label>
                            <select
                                    class="form-control"
                                    ng-model="data.r1_idx"
                                    ng-options="data.reviewerEmailList.indexOf(currOption) as currOption for currOption in data.reviewerEmailList">
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Second Reviewer</label>
                            <select class="form-control"
                                    ng-model="data.r2_idx"
                                    ng-options="data.reviewerEmailList.indexOf(currOption) as currOption for currOption in data.reviewerEmailList">
                            </select>
                        </div>

                        <div class="pull-right">
                            <button type="submit" class="btn btn-default btn-success">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

