<reviewer-header></reviewer-header>
<toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">My Applications To Review</h3>
                </div>
            </div>

            <!-- To review list-->
            <div class="row" ng-repeat="review in data.toReviewList">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Job Title</label>
                            <input ng-model="review.jobTitle" type="text" class="form-control" ng-disabled="true"/>
                        </div>

                        <div class="form-group">
                            <label>Applicant Name</label>
                            <input ng-model="review.applicantName" type="text" class="form-control" ng-disabled="true"/>
                        </div>

                        <div class="form-group">
                            <label>Applicant Cover letter</label>
                            <textarea ng-model="review.cv" type="text" class="form-control"
                                      ng-disabled="true"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Your Comment:</label>
                            <textarea ng-model="review.content" type="text" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-radio">
                                <input type="radio" ng-model="review.result" value="{{false}}" ng-checked="true">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Decline this candidate</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" ng-model="review.result" value="{{true}}">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Recommend this candidate</span>
                            </label>
                        </div>

                        <div class="pull-right">
                            <button ng-click="createReview($index)" class="btn btn-default btn-warning">Confirm</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">My Applications Reviewed</h3>
                </div>
            </div>

            <!-- reviewed list-->
            <div class="row" ng-repeat="review in data.reviewedList">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Job Title</label>
                            <input ng-model="review.jobTitle" type="text" class="form-control" ng-disabled="true"/>
                        </div>

                        <div class="form-group">
                            <label>Applicant Name</label>
                            <input ng-model="review.applicantName" type="text" class="form-control" ng-disabled="true"/>
                        </div>

                        <div class="form-group">
                            <label>Applicant Cover letter</label>
                            <textarea ng-model="review.cv" type="text" class="form-control"
                                      ng-disabled="true"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Your Comment:</label>
                            <textarea ng-model="review.content" type="text" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label ng-if="review.result == true" class="custom-control custom-radio">
                                <p>You Have Recommended this candidate</p>
                            </label>
                            <label ng-if="review.result == false" class="custom-control custom-radio">
                                <p>You Have Declined this candidate</p>
                            </label>
                        </div>

                        <div class="pull-right">
                            <button ng-click="upDateReview($index)" class="btn btn-default btn-warning">Update</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>